/* در App.css یا global */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* حداقل ارتفاع کل صفحه */
}

.mainContent {
  flex: 1; /* فضای باقیمانده را اشغال می‌کند */
}
